<h1>Hello {{ firstName() }} {{ lastName()}}!</h1>
<form>
  <fieldset>
    <label>
      First name
      <input #name
             value="{{ firstName() }}"
             placeholder="First name"
             autocomplete="given-name"
             (input)="onFirstNameChanged(name.value)"
      />
    </label>
    <label>
      Email
      <input #last
             value="{{ lastName() }}"
             placeholder="lastName"
             autocomplete="lastName"
             (input)="onLastNameChanged(last.value)"
      />
    </label>
  </fieldset>
</form>
